.vscode/*
.settings/*

*.pyc

#############
# From ANTLR

/**/.antlr/*
*.interp
*.tokens
src/VgdlParser.py
src/VgdlListener.py
src/VgdlLexer.py


#############
# From testing

*.stackdump