.vscode/*
.settings/*


*.pyc
src/*.pddl

#############
# From ANTLR

/**/.antlr/*
*.interp
*.tokens
src/VgdlParser.py
src/VgdlListener.py
src/VgdlLexer.py


#############
# For testing

src/test/*
*.stackdump
handmadeExample/boulder.pddl
src/verbose
src/vgdl-examples/test_level.txt
